# Configuration - never check in credentials!
*.conf

# Terraform - state and plan files
.terraform/
.tfplan

# Node.js for autogenerating change logs
node_modules/

# From template: Visual Studio
.vs/
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
.localhistory/
