# To deploy this project from a local machine, first remove
# the `.sample` extension from this file before running the
# `terraform init` command.
#
# For details see:
# https://www.terraform.io/docs/language/files/override.html

terraform {
  backend "local" {}
}